/*.parent {
	position: absolute;
	width: 70%;
	left: 50%;
	transform: translate(-50%);
	border: 1px solid black;
	overflow: hidden;
}

.container {
	display: flex;
}



.item {
	flex-grow: 1;
	border: 1px solid red;
	margin: 5px;
}*/

.main {
	position: absolute;
	width: 80%;
	left: 50%;
	transform: translate(-50%);
}

.container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 9px;
	grid-row-gap: 0px;
	
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 5 / 2 / 6; }
.div6 { grid-area: 1 / 6 / 2 / 7; }
.div7 { grid-area: 1 / 7 / 2 / 8; }

.grid {
	border: 1px solid black;
}

input[type='button'] {
	width: 100%;
	height: 50px;
	white-space: normal;
}